# Created by https://www.toptal.com/developers/gitignore/api/xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode

DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
# Ignored
/*.gcno
*.xcodeproj/*
*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings

# Included
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.pbxproj

# End of https://www.toptal.com/developers/gitignore/api/xcode
